/*------------------- App -------------------*/
html body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #F6F6F6;
    letter-spacing: 1px;
}

* {
    font-family: 'Readex Pro', sans-serif;
}

.primary-title {
    font-size: 40px;
    color: white;
}

.primary-button {
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #9AFB4D;
    padding: 12px 35px;
    border: solid 2px;
    border-radius: 30px;
}

.primary-button:hover {
    background-color: #a5ff00;
    cursor: pointer;
}

.primary-button:disabled {
    cursor: auto;
}

.secondary-button {
    color: rgb(121, 119, 119);
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px rgb(121, 119, 119);
    margin: 6px
}

.secondary-button:hover {
    color: rgb(48, 48, 48);
    border: solid 2px rgb(48, 48, 48);
}

/*------------------- Home -------------------*/
.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    /*background: linear-gradient(*/
    /*    to bottom,*/
    /*    rgba(0, 0, 0, 0.65) 0%,*/
    /*    rgba(0, 0, 0, 0) 100%*/
    /*), url("assets/hero_image.jpg");*/
    /*background-size: cover;*/
}

.overlay nav {
    padding: 10px 10px;
}

.home {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home h1 {
    margin-bottom: 0;
    color: black;
}
.home article {
    text-align: center;
}
.home article p{
    color: black;
    letter-spacing: 1px;
    font-size: 20px;
}

.home .home-buttons {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.home .home-buttons button {
    margin-bottom: 25px;
    border: none;
    color: black;
    background-color: #9AFB4D;
    /*font-weight: normal;*/
    font-size: 14px;
}

/*.home .home-buttons .transparent-button {*/
/*    color: white;*/
/*    background: transparent;*/
/*}*/

@media (max-width: 430px) {

    .home {
        margin-top: 10vh;
    }

    .primary-button {
        font-size: 10px;
    }

    .home article p{
        font-size: 16px;
        width: 80%;
        margin: auto;
    }

    .home .home-buttons {
        margin-top: 15vh;
    }
    .home .primary-title {
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .home .home-buttons button {
        margin-bottom: 10px;
    }
}

@media (min-width: 430px) and (max-width: 537px) {
    .primary-title {
        font-size: 25px;
    }
    .primary-button {
        font-size: 15px;
    }
    .home .home-buttons {
        margin-top: 10vh;
    }
    .home .primary-title {
        margin-top: 50px;
    }
}

@media (max-height: 565px) {
    .home {
        margin-top: 10px;
    }
}


/*------------------- HomeNav -------------------*/
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 5px;
}

nav .logo-container {
    display: flex;
    align-items: baseline;
}

nav .logo-container .logo {
    width: 45px;
    height: 45px;
}

nav .logo-container h3 {
    text-transform: uppercase;
    font-size: 25px;
    color: #5FB51C;
}

@media (max-width: 375px) {
    nav .logo-container .logo {
        width: 45px;
        height: 45px;
    }
    nav .logo-container h3 {
        font-size: 24px;
    }
}


/*------------------- Vertical Nav -----------------*/
.vertical-nav {
    width: 20%;
    background-color: white;
    position: fixed;
    height: 100%;
    top: 0;
}

.vertical-nav .logo-container {
    display: flex;
    align-items: baseline;
    margin-left: 20px;
    margin-top: 5px;
}

.vertical-nav .logo-container .logo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    cursor: pointer;
}

.vertical-nav .logo-container h3 {
    color: #5FB51C;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

.vertical-nav .nav-text {
    color: black;
    font-weight: 400;
}

.vertical-nav ul {
    padding: 0;
}

.vertical-nav li {
    list-style: none;
    height: 75px;
    padding-left: 23px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.vertical-nav li:last-child {
    margin-top: 200px;
}

.vertical-nav li:hover {
    background-color: #dddddd;
    border-radius: 5px;
}

.vertical-nav .clicked {
    background-color: #dddddd;
    border-radius: 5px;
}

.vertical-nav li span {
    margin-left: 20px;
}

.vertical-nav li .ver-nav-icon {
    width: 28px;
    height: 28px;
}

.vertical-nav li .profile-img {
    border-radius: 20px;
}

.vertical-nav ul .setting-modal {
    position: absolute;
    top: 460px;
    left: 40px;
    width: 200px;
    height: 180px;
    padding: 15px 15px;
    border: 1px solid #dddddd;
    background-color: white;
    border-radius: 30px;
}

.vertical-nav ul .setting-modal .close-icon {
    cursor: pointer;
    float: right;
}

.vertical-nav ul .setting-modal ul {
    display: flex;
    flex-direction: column;
}

.vertical-nav ul .setting-modal ul li {
    margin-bottom: 0;
    margin-top: 0;
}

.vertical-nav ul li .red-dot {
    position: relative;
    top: -8px;
    right: 8px;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 50%;
    background-color: #FF3040;
}

@media (max-width: 950px) {
    .vertical-nav .nav-text, .vertical-nav h3 {
        display: none;
    }

    .vertical-nav{
        width: 80px;
    }
}

@media (max-width: 767px) {
    .vertical-nav {
        display: flex;
        position: fixed;
        bottom: 0;
        max-height: 48px;
        width: 100%;
        justify-content: center;
        top: auto;
        background-color: #f6f6f6;
    }

    .vertical-nav li .ver-nav-icon {
        width: 25px;
        height: 25px;
        /*color: #5FB51C;*/
    }

    .vertical-nav .logo-container {
        display: none;
    }

    .vertical-nav ul {
        display: flex;
        width: 100%;
        height: 90%;
        margin: 0;
        justify-content: center;
    }

    .vertical-nav ul li {
        height: 100%;
        padding: 0 0;
        margin: auto;
    }

    .vertical-nav ul li:last-child {
        margin-top: auto;
    }
}

/*------------------- Horizontal Nav ---------------*/
.horizontal-nav .title {
    display: flex;
    align-items: center;
    width: 560px;
    justify-content: space-between;
    margin-left: 400px;
    border-bottom: 1px solid #dddddd;
}

.horizontal-nav .title h2 {
    text-align: start;
}
.horizontal-nav .title span h4 {
    text-align: start;
}

.horizontal-nav .logo-container {
    display: none;
}


.horizontal-nav span {
    display: flex;
    align-items: center;
}

.horizontal-nav .location-icon {
    width: 28px;
    height: 28px;
}

@media (min-width: 768px) and (max-width: 1024px){
    .horizontal-nav .title{
        margin-left: 250px;
        width: 460px;
    }
}

@media (max-width: 768px) {
    .horizontal-nav .title{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .horizontal-nav .title{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        /*display: none;*/
    }

    .horizontal-nav .logo-container {
        display: none;
        display: flex;
        align-items: baseline;

    }

    .horizontal-nav .logo-container .logo {
        width: 28px;
        height: 28px;
    }
    .horizontal-nav .logo-container h3 {
        color: #5FB51C;
        font-weight: bold;
        font-size: 22px;
        text-transform: uppercase;
    }
}

@media (max-width: 425px){
    .horizontal-nav .title{
        margin-bottom: 0px;
        padding: 0 5px;
        width: 90%;
    }

    .horizontal-nav .logo-container {
        margin: 10px auto auto;
    }

    .horizontal-nav .logo-container .logo {
        /*display: none;*/
        width: 40px;
        height: 40px;
        margin-right: 5px;
    }
    .horizontal-nav .logo-container h3 {
        font-size: 24px;
    }
    .horizontal-nav h2 {
        font-size: 16px;
    }
    .horizontal-nav span .location-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .horizontal-nav span h4 {
        font-size: 14px;
    }
}

@media (max-width: 370px) {
    .horizontal-nav h2 {
        font-size: 18px;
        /*width: 75%;*/
        margin-bottom: 20px;
        margin-top: 5px;
    }
    .horizontal-nav .logo-container h3 {
        margin-bottom: 10px;
    }
    .horizontal-nav .title{
        width: 96%;
        flex-direction: column;
        align-items: start;
    }
    .horizontal-nav span .location-icon {
        width: 16px;
        height: 16px;
        margin-right: 0;
    }
    .horizontal-nav span h4 {
        font-size: 16px;
        font-weight: normal;
    }
}

/*------------------- Auth Modal -------------------*/

.auth-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 500px;
    background-color: white;
    /*border: solid 3px black;*/
    border-radius: 10px;
    padding: 40px;
}

.auth-modal .close-icon {
    float: right;
}

.auth-modal .close-icon:hover {
    cursor: pointer;
}

.auth-modal form {
    display: flex;
    flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email] {
    padding: 8px;
    margin: 8px;
    font-size: 17px;
    border: 2px solid rgb(213, 213, 213);
    border-radius: 30px;
}

.auth-modal .auth-match-password-error {
    font-size: large;
    color: red;
}

.auth-modal .auth-message-success {
    font-size: large;
    font-weight: bold;
    color: #3b8a03;
}

.auth-modal .logo-container {
    display: flex;
    align-items: baseline;
}

.auth-modal .logo-container .logo {
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
}

.auth-modal .google-button {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    /*width: 100%;*/
}

.auth-modal .google-button a {
    width: 100%;
    text-decoration: none;
}

.auth-modal .google-button-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin: 8px;
    font-size: 17px;
    border: solid 2px;
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

.auth-modal .google-logo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.auth-modal .divider {
    display: flex;
    align-items: center;
}

.auth-modal .divider .line-1 {
    height: 1px;
    width: 40%;
    background-color: #ccc;
    margin: 16px 10px;
}
.auth-modal .divider .line-2 {
    height: 1px;
    width: 40%;
    background-color: #ccc;
    margin: 16px 10px;
}

.auth-modal .divider p {
    text-align: center;
    margin: 16px 0;
    text-transform: uppercase;
}

.auth-modal button {
    border: none;
    font-weight: normal;
}

@media (max-height: 600px) {
    .auth-modal {
        top: 0;
    }
}

/*------------------- Profile -------------------*/

/* Profile nav  */
.profile-container {
    display: flex;
    background-color: #F6F6F6;
    width: 100%;
    font-weight: 400;
}

/* Profile Section  */
.profile-container .profile-section-container {
    width: 50%;
    margin-left: 25%;
}

.profile-section-container .profile-section {
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: white;
    display: flex;
}

.profile-section-container .profile-coffee-study-plan-section {
    margin-bottom: 30px;
}

/* profile-personal-info-section */

.profile-personal-info-section{
    padding-bottom: 20px;
}


.profile-personal-info-section div {
    height: 100%;
    display: flex;
    margin-top: 10px;
    margin-left: 5%;
    width: 80%;
}

.profile-personal-info-section div .image-container {
    display: flex;
    flex-direction: column;
}

.profile-personal-info-section div .image-container button{
    font-size: 10px;
    padding: 3px 3px;
    border: none;
    margin-top: 5px;
    border: solid 1px;
    background: transparent;
}

.profile-personal-info-section div img {
    /*height: 100%;*/
    max-height: 250px;
    max-width: 200px;
    border-radius: 10px;
}

.profile-personal-info-section div .personal-info{
    margin-left: 10%;
    margin-top: 20px;
    text-align: start;
    width: 60%;
}

.profile-personal-info-section div .personal-info .name-button .username{
    font-weight: bold;
    margin-right: 20px;
    font-size: 1.4rem;
}
.profile-personal-info-section div .personal-info .name-button{
    display: flex;
    align-items: center;
}
.profile-personal-info-section div .personal-info .name-button button {
    font-size: 10px;
    padding: 5px 20px;
    border: none;
}

.profile-personal-info-section div .personal-info .message-button {
    background-color: #9AFB4D;
    padding: 7px 15px;
    border-radius: 10px;
    margin-left: 25px;
    color: black;
    font-size: 16px;
    max-height: 15px;
    cursor: pointer;
}

.profile-personal-info-section div .personal-info .about{
    overflow-wrap: break-word;
}


.profile-personal-info-section div .personal-info .profile-sub-info article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-personal-info-section div .personal-info .profile-sub-info article span {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.profile-personal-info-section div .personal-info .profile-sub-info .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.profile-personal-info-section div .personal-info .profile-sub-info .icon:hover {
    background-color: #dddddd;
    border-radius: 10px;
    cursor: pointer;
}

.profile-personal-info-section div .personal-info .profile-sub-info span {
    color: #6C6C6C;
    font-weight: bold;
    margin-right: 30px;
}

/* profile-study-info-section */
.profile-study-info-section{
    /*height: 120px;*/
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 10px;
}

.profile-study-info-section article {
    margin-left: 5%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.profile-study-info-section article .study-info-icon{
    margin-right: 5px;
    width: 25px;
    height: 25px;
}


.profile-study-info-section article .category{
    font-weight: bold;
    /*color: #6C6C6C;*/
    margin-right: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.profile-coffee-study-plan-section{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.profile-coffee-study-plan-section h2 {
    font-size: 20px;
}

.profile-coffee-study-plan-section .add-plan-icon {
    margin: auto;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.profile-coffee-study-plan-section .add-plan-icon:hover {
    background-color: #F6F6F6;
}


.profile-coffee-study-plan-section .plan-card {
    width: 90%;
    background-color: #f6f6f6;
}

.profile-coffee-study-plan-section .buttons {
    margin-top: 10px;
}

.profile-coffee-study-plan-section .buttons .edit-button {
    border: none;
    padding: 5px 30px;
    font-size: 16px;
}

.profile-coffee-study-plan-section .buttons .delete-button {
    border: none;
    padding: 5px 30px;
    font-size: 16px;
    background-color: transparent;
    border: solid 1px;
}

@media (max-width: 950px) {
    .profile-container .profile-section-container {
        width: 70%;
        margin-left: 12%;
    }
    .profile-personal-info-section div {
        width: 100%;
        margin-left: 20px;
    }
}

@media (max-width: 767px) {
    .profile-container .profile-section-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .profile-personal-info-section div {
        width: 100%;
        margin-left: 20px;
    }

}

@media (max-width: 550px) {

    .profile-section article{
        font-size: 14px;
    }

    .profile-personal-info-section div {
        width: 100%;
        margin-left: 20px;
    }

    .profile-personal-info-section div .about {
        font-size: 14px;
        overflow-wrap: break-word;
    }
    .profile-study-info-section article {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        align-items: start;
    }
    .profile-coffee-study-plan-section .plan-card .plan-info-section span {
        font-size: 14px;
    }
}

@media (max-width: 444px) {

    .profile-section article{
        font-size: 16px;
    }

    .profile-coffee-study-plan-section .plan-card .name-button-section .name {
        font-size: 18px;
    }

    .profile-coffee-study-plan-section .plan-card .plan-info-section li {
        font-size: 16px;
    }

    .profile-personal-info-section div .personal-info {
        width: 60%;
    }

    .profile-personal-info-section div img {
        /*height: 100%;*/
        max-height: 150px;
        max-width: 150px;
    }


    .profile-personal-info-section div .personal-info .name-button{
        flex-direction: column;
        align-items: start;
    }

    .profile-personal-info-section div .personal-info .name-button button{
        margin-top: 8px;
    }

    .profile-personal-info-section div .personal-info .message-button {
        margin-left: 0;
    }

    .profile-personal-info-section div .personal-info .profile-sub-info {
        margin-top: 0;
    }

    .profile-personal-info-section div .personal-info .profile-sub-info article {
        display: flex;
        align-items: start;
        /*justify-content: space-between;*/
    }

    .profile-personal-info-section div .personal-info .profile-sub-info article span {
        /*display: none;*/
        /*display: inline;*/
        margin-right: 20px;
    }

    .profile-personal-info-section div .about {
        /*display: none;*/
        font-size: 14px;
        font-weight: 400;
        margin-top: 20px;
    }

    .profile-personal-info-section div .personal-info .name-button button {
        font-size: 7px;
        padding: 5px 20px;
        border: none;
    }

    .profile-personal-info-section div .personal-info .profile-sub-info article span {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;
        font-size: 10px;
    }

    .profile-personal-info-section div .personal-info{
        margin-left: 10%;
    }
}

/*-------- OnBoarding Page --------*/
.onboarding-container .logo-container h3 {
    color: #5FB51C;
}

.onboarding h2, .onboarding label {
    font-weight: bold;
    color: black;
}

.onboarding form div{
    display: flex;
    justify-content: center;
}

.onboarding form section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 30%;
    text-align: start;
}

.onboarding form input {
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
}

.onboarding form input:focus {
    outline: none;
    border: solid 2px #5FB51C;
}

.onboarding form label {
    margin: 10px 0;
}

.onboarding form .multiple-input-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.onboarding form .multiple-input-container input {
    margin-right: 10px;
}

.onboarding form .multiple-input-container label {
    padding: 10px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
    cursor: pointer;
}

.onboarding form input[type=radio] {
    display: none;
}

.onboarding form input[type=number] {
    width: 30%;
    padding: 0;
}

.onboarding form input[type=radio]:checked + label {
    border: solid 2px #5FB51C;
    background-color: #5FB51C;
    color: white;
}

.onboarding form input[type=submit]:hover {
    cursor: pointer;
}

/*.onboarding form input[type=submit] {*/
/*    background-color: #6bff00;*/
/*    font-size: large;*/
/*    width: 40%;*/
/*}*/

.onboarding form .primary-button {
    background-color: #6bff00;
    /*font-size: large;*/
    border-radius: 20px;
    border: solid 1px #dddddd;
    width: 50%;
}

.onboarding form .photo-container img {
    max-height: 250px;
    border-radius: 10px;
    border: solid 2px #5FB51C;
}
.onboarding form ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.onboarding form ul li {
    padding: 3px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
    list-style: none;
    font-weight: bold;
    /*color: #5FB51C;*/
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 14px;
}

.onboarding form ul .selected {
    border: solid 2px #5FB51C;
    background-color: #5FB51C;
    color: white;
}

.onboarding form .edit-icon {
    cursor: pointer;
    color: #00bbf9;
    margin-left: 5px;
    height: 20px;
}

@media (max-width: 768px) {
    .onboarding form div{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .onboarding form section {
        width: 50%;
    }

    .onboarding form input {
        padding: 10px 25px;
    }

    .onboarding form section {
        width: 80%;
    }

    .onboarding form input[type=submit] {
        width: 90%;
        margin: 5px;
    }

    .onboarding form .loader {
        margin: auto;
    }

    .onboarding form .multiple-input-container label {
        padding: 5px;
        font-size: 14px;
    }

    .onboarding form ul li {
        font-size: 10px;
    }

    .onboarding h2{
        font-size: 20px;
    }

}

/*------------- Profile image Crud page -----------*/
.upload-profile-image-container {
    display: flex;
    flex-direction: column;
    border-top: solid 1px rgb(213, 213, 213);
}

.upload-profile-image-container .image-options {
    margin: 20px auto 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
}

.upload-profile-image-container button {
    /*width: 40%;*/
    margin: auto;
    border: none;
    font-weight: bolder;
}

.upload-profile-image-container .loader {
    /*width: 40%;*/
    margin: auto;
}

.upload-profile-image-container .image-options .image-choose {
    height: 300px;
    width: 200px;
    border: solid 1px;
    border-radius: 20px;
}

.upload-profile-image-container .image-container {
    display: flex;
    flex-direction: column;
}

.upload-profile-image-container .image-options .image-choose:hover {
    cursor: pointer;
    border: solid 2px #5FB51C;
}

.upload-profile-image-container .image-options img {
    max-height: 350px;
    border-radius: 20px;
}

.upload-profile-image-container .image-options .image-choose .user-option {
    margin-top: 120px;
    height: 40px;
    width: 40px;
}

.upload-profile-image-container .image-options .image-choose .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-profile-image-container .image-options .image-choose label {
    cursor: pointer;
}

.upload-profile-image-container .image-options .user-image-container {
    max-height: 400px;
}

.upload-profile-image-container .image-options .user-image-container button {
    font-size: 10px;
    padding: 5px 20px;
    border: solid 2px;
    cursor: pointer;
}

.upload-profile-image-container .image-options .selected {
    display: none;
}

.upload-profile-image-container .error-msg {
    color: #ee0256;
}

/*----------------------- Plan Card Component ---------------------- */

.plan-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    max-height: 650px;
    margin: auto;
    border-radius: 10px;
    padding: 15px 15px;
    background-color: white;
    /*color: #5FB51C;*/
}

.plan-card .image-container {
    width: 100%;
}

.plan-card .image-container img {
    border-radius: 20px;
    border: solid 2px;
}

.plan-card .name-button-section {
    width: 90%;
    display: flex;
    margin-left: -60px;
}

.plan-card .name-button-section article{
    display: flex;
}

.plan-card .name-button-section article .name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}

.plan-card .name-button-section .about-container {
    margin-top: 15px;
}

.plan-card .name-button-section article .about {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    text-align: start;
}

.plan-card .name-button-section .name-button-about .about-mobile {
    display: none;
}

.plan-card .name-button-section article .message-button {
    background-color: #5fb51c;
    color: white;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 10px;
    margin-left: 25px;
    font-size: 14px;
    max-height: 15px;
    cursor: pointer;
}

.plan-card .name-button-section article .message-button:last-child {
    background-color: transparent;
    border: 1px solid;
    color: black;
    padding: 3px 3px;
}

.plan-card .name-button-section .small-profile-image {
    border-radius: 25px;
    margin-right: 15px;
    max-height: 50px;
    cursor: pointer;
}

.plan-card .name-button-section p {
    font-weight: 550;
    font-size: medium;
    cursor: pointer;
}

.plan-card .plan-info-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 0;
    margin-top: 30px;
}

.plan-card .plan-info-section li {
    list-style: none;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
}

.plan-card .plan-info-section li article {
    display: flex;
    align-items: center;
    width: 40%;
}

.plan-card .plan-info-section li span{
    display: flex;
    align-items: center;
    margin-right: 10px;
    /*color: #6C6C6C;*/
    font-weight: bold;
    text-align: start;
}

.plan-card .plan-info-section li .text {
    color: black;
    font-weight: normal;
    display: inline-block;
    max-width: 45%;
    word-wrap: break-word;
    text-align: start;
}

.plan-card .plan-info-section li .icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.plan-card .plan-info-section li span .edit-icon {
    margin-left: 5px;
    cursor: pointer;
    color: #00bbf9;
    height: 14px;
}

.plan-card .plan-info-section li article label {
    margin-right: 10px;
    text-align: start;
    font-weight: bold;
}

@media (max-width: 550px) {
    .plan-card .name-button-section article {
        flex-direction: column;
        align-items: start;
    }
    .plan-card .name-button-section article p {
        margin-bottom: 5px;
    }

    .plan-card .name-button-section article .message-button {
        margin-left: 0;
        font-size: 12px;
        margin-top: 5px;
        padding: 5px 5px;
    }

    .plan-card .plan-info-section li span {
        font-size: 16px;
    }


    .plan-card .name-button-section article .name {
        font-size: 18px;
    }
}

@media (max-width: 425px) {
    .plan-card{
        width: 92%;
        padding: 10px 15px;
    }
    .plan-card .plan-info-section li .icon {
        width: 20px;
        height: 20px;
    }
    .plan-card .plan-info-section li article {
        width: 62%;
    }
    .plan-card .plan-info-section li .text {
        max-width: 35%;
    }

    .plan-card .name-button-section .name-button-about .about-mobile {
        display: block;
    }

    .plan-card .name-button-section .name-button-about .about-container {
        display: none;
    }
}

/*--------------- plan crud page ---------------------*/
.plan-crud-container .plan-card {
    margin-top: 30px;
}

.plan-crud-container h2 {
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin-top: 30px;
}

.plan-crud-container button {
    border: none;
    margin-top: 20px;
    width: 350px;
    font-weight: 500;
}

.plan-crud-container .error-msg {
    color: #ee0256;
}

.plan-crud-container .plan-card input {
    padding: 5px 5px;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 20px;
}
.plan-crud-container .plan-card input:focus {
    outline: none;
    border: solid 2px #5FB51C;
}

.plan-crud-container .button-group {
    display: flex;
    flex-direction: row;
    max-width: 350px;
    margin: auto;
}

.plan-crud-container .button-group button:nth-child(2) {
    background-color: #000000;
    color: white;
}

@media (max-width: 1024px) {
    .plan-crud-container .plan-card {
        width: 55%;
        margin-left: 25%;
    }
}

@media (max-width: 425px) {
    .plan-crud-container h2 {
        font-size: 16px;
    }
    .plan-crud-container .plan-card {
        width: 100%;
        margin-left: 0;
    }
    .plan-crud-container .plan-card .image-container {
        width: 100%;
    }
    .plan-crud-container .plan-card .image-container img {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 425px){
    .plan-crud-container h2 {
        font-size: 20px;
        margin: 10px auto 5px;
    }
    .plan-crud-container .plan-card {
        width: 100%;
        height: 350px;
        margin: auto;
    }
    .plan-crud-container .plan-card .image-container {
        height: 40%;
        width: 100%;
    }
    .plan-crud-container .plan-card .image-container img {
        height: 100%;
    }
}


/*-------------------------------- Dash Board ------------------------*/
.dashboard-container {
    display: flex;
}

.dashboard-page {
    width: 100%;
}

.dashboard-page .dashboard-container {
    width: 100%;
}

.dashboard-container .newfeed-container {
    width: 75%;
    margin-left: 160px;
}

.dashboard-container .newfeed-container .create-plan-title {
    font-size: 20px;
    color: #6C6C6C;
    margin-left: -30px;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 30px;
}

.dashboard-container .newfeed-container h2 .add-icon {
    width: 30px;
    height: 30px;
}

.dashboard-container .newfeed-container .plans-container {
    width: 100%;
}

.dashboard-container .newfeed-container .plans-container .plan-card .image-container img {
    width: 100%;
}

.dashboard-container .newfeed-container .plans-container .plan-card {
    margin-bottom: 10px;
    max-width: 650px;
}
.dashboard-container .newfeed-container .plans-container .plan-card:first-child {
    margin-top: 10px;
}

.dashboard-container aside {
    position: fixed;
    height: 100%;
    bottom: 0;
    right: 0;
    width: 25%;
}


.dashboard-container aside ul {
    padding-left: 0;
    list-style-type: none;
    overflow-y: scroll;
    margin-top: 5px;
}

.dashboard-container aside ul .soulmates-title {
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
}

.dashboard-container aside li {
    padding: 10px 0;
    display: flex;
    margin-bottom: 20px;
}

.dashboard-container aside li div span{
    color: #FF3040;
}

.dashboard-container aside li:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.dashboard-container aside .selected {
    background-color: #dddddd;
}

.dashboard-container aside li img {
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 8px;
    max-height: 50px;
}

.dashboard-container aside li h2 {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

.dashboard-container aside li h3 {
    font-size: 12px;
    color: #7e818a;
    font-weight: normal;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .dashboard-container .newfeed-container {
        margin-left: 100px;
    }
    .dashboard-container .newfeed-container .plan-card {
        width: 440px;
    }
}
@media (max-width: 768px) {
    .dashboard-container .newfeed-container{
        margin: 0 auto auto;
    }

    .dashboard-container aside {
        display: none;
        height: 100px;
        top: 70px;
        left: 150px;
    }

    .dashboard-container aside ul {
        /*display: none;*/
        display: flex;
        flex-direction: row;
    }

    .dashboard-container aside ul li {
        flex-direction: column;
    }

    .dashboard-container aside ul li h2 {
        font-weight: normal;
    }

    .dashboard-container aside ul .soulmates-title {
        display: none;
    }
}

@media (max-width: 550px) {
    .dashboard-container .newfeed-container .plans-container .plan-card{
        width: 92%;
    }
    .dashboard-container .newfeed-container {
        width: 100%;
    }
}


/*----------------------------- Chat -----------------------*/
.chat-page .vertical-nav .nav-text {
    display: none;
}

.chat-page .vertical-nav h3 {
    display: none;
}

.chat-page .vertical-nav{
    width: 80px;
}

.chat-container {
    width: 93%;
    height: 98vh;
    background: #f6f6f6;
    margin-top: 2px;
    margin-left: 6%;
    overflow: hidden;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 10px;
    display: flex;
}

.chat-container aside {
    width: 26%;
    height: 100%;
    background-color: #ffffff;
    font-size: 15px;
    vertical-align: top;
    border-right: solid 1px rgb(213, 213, 213);
}

.chat-container aside ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    height: 100%;
}

.chat-container aside ul h2 {
    text-align: start;
    margin-left: 30px;
}

.chat-container aside li {
    padding: 10px 0;
    display: flex;
    margin-bottom: 20px;
}

.chat-container aside li div span{
    color: #FF3040;
}

.chat-container aside li:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.chat-container aside .selected {
    background-color: #dddddd;
}

.chat-container aside li img {
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 8px;
    max-height: 50px;
}

.chat-container aside li h2 {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    margin-left: 2px;
}

.chat-container .status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}

.chat-container .green {
    background-color: #58b666;
}

.chat-container .orange {
    background-color: #ff725d;
}

.chat-container .blue {
    background-color: #6fbced;
    margin-right: 0;
    margin-left: 7px;
}

.chat-container main .primary-title {
    margin-top: 200px;
    color: #5FB51C;
}

.chat-container main {
    width: 74%;
    background-color: white;
}

.chat-container main .current-chat-room-container {
    height: 100%;
}

.chat-container main .current-chat-room-container header {
    display: flex;
    border-bottom: 1px solid rgb(213, 213, 213);
    padding: 10px 10px;
    height: 10%;
}

.chat-container main .current-chat-room-container header img {
    border-radius: 25px;
    border: 1px solid #a5ff00;
    margin-right: 10px;
    max-height: 50px;
    cursor: pointer;
}

.chat-container main .current-chat-room-container header p {
    cursor: pointer;
}

.show-message-container {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    height: 78%;
    border-top: 2px solid #fff;
}

.show-message-container li {
    padding: 10px 30px;
}

.show-message-container h2,
.show-message-container h3 {
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
}

.show-message-container h3 {
    color: #bbb;
}

.show-message-container .entete {
    margin-bottom: 5px;
}

.show-message-container .message {
    padding: 10px;
    line-height: 25px;
    max-width: 60%;
    width: fit-content;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
    hyphens: manual;
    /*inline-size: 200px;*/
    overflow-wrap: break-word;
    font-size: 14px;
}



.show-message-container .me {
    text-align: right;
}

.show-message-container .you {
    text-align: left;
    display: flex;
    align-items: start;
}

.show-message-container .you .message-img {
    border-radius: 20px;
    max-height: 40px;
    margin-right: 5px;
}

.show-message-container .you .message {
    background-color: white;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 30px;
}

.show-message-container .me .message {
    background-color: #dddddd;
    border-radius: 30px;
}

.show-message-container .triangle {
    width: 0;
    height: 0;
    border-style: solid;
}

.show-message-container .you .triangle {
    border-color: transparent transparent #58b666 transparent;
    margin-left: 15px;
}

.show-message-container .me .triangle {
    border-color: transparent transparent #6fbced transparent;
    margin-left: 375px;
}

main footer {
    height: 10%;
}

main footer form {
    height: 100%;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

main footer form textarea {
    resize: none;
    display: block;
    width: 80%;
    height: 17px;
    border-radius: 30px;
    padding: 10px;
    font-size: 13px;
    border: 2px solid rgb(213, 213, 213);
}

main footer form textarea::placeholder {
    color: #ddd;
}


main footer form a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #00bbf9;
    margin-left: 10px;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .chat-container {
        width: 100%;
        height: 93vh;
        margin-left: 0;
    }

    .chat-page .vertical-nav {
        background-color: rgba(255, 255, 255, 0.64);
        width: 100%;
    }
}

@media (max-width: 425px) {
    .chat-container {
        height: 80vh;
        width: 99%;
        margin-top: 1px;
        /*margin: 0;*/
    }
    .chat-container main {
        display: none;
    }

    .chat-container main .current-chat-room-container header {
        padding: 0;
    }
    .chat-container .hide-aside {
        display: none;
    }
    .chat-container .show-main {
        display: block;
        width: 100%;
    }
    .chat-container aside {
        width: 100%;
    }
    .show-message-container li {
        padding: 5px 0;
    }
}

/*---------------------------- ChatList -----------------------------------*/
.chat-list-page .vertical-nav .nav-text {
    display: none;
}

.chat-list-page .vertical-nav h3 {
    display: none;
}

.chat-list-page .vertical-nav{
    width: 80px;
}

.chat-list-container {
    width: 93%;
    height: 100vh;
    background: #f6f6f6;
    /*margin-top: px;*/
    margin-left: 6%;
    overflow: hidden;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 10px;
    display: flex;
}

.chat-list-container aside {
    width: 35%;
    height: 100%;
    background-color: #ffffff;
    font-size: 15px;
    vertical-align: top;
    border-right: solid 1px rgb(213, 213, 213);
}

.chat-list-container aside ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    height: 100%;
}

.chat-list-container aside ul h2 {
    text-align: start;
    margin-left: 20px;
}

.chat-list-container aside li {
    padding: 10px 0;
    display: flex;
    margin-bottom: 20px;
}

.chat-list-container aside li div span{
    color: #FF3040;
}

.chat-list-container aside li:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.chat-list-container aside .selected {
    background-color: #dddddd;
}

.chat-list-container aside li img {
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 8px;
    max-height: 50px;
}

.chat-list-container aside li h2 {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    margin-left: 2px;
}

.chat-list-container main .primary-title {
    margin-top: 200px;
    color: #5FB51C;
}

.chat-list-container main {
    width: 65%;
    background-color: white;
}

@media (max-width: 767px) {
    .chat-list-container {
        width: 100%;
        height: 93vh;
        margin-left: 0;
    }

    .chat-list-page .vertical-nav {
        background-color: rgba(255, 255, 255, 0.64);
        width: 100%;
    }
}

@media (max-width: 425px) {
    .chat-list-container {
        height: 93vh;
        width: 100%;
        margin: 0;
    }
    .chat-list-container main {
        display: none;
    }
    .chat-list-container .hide-aside {
        display: none;
    }
    .chat-list-container .show-main {
        display: block;
        width: 100%;
    }
    .chat-list-container aside {
        width: 100%;
    }
}



