/*------------------- App -------------------*/
html body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #F6F6F6;
    letter-spacing: 1px;
}

* {
    font-family: 'Readex Pro', sans-serif;
}

.primary-title {
    font-size: 40px;
    color: white;
}

h2 {
    font-style: italic;
}

.primary-button {
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #9AFB4D;
    padding: 12px 35px;
    border: solid 2px;
    border-radius: 30px;
}

.primary-button:hover {
    background-color: #a5ff00;
    cursor: pointer;
}

.primary-button:disabled {
    cursor: auto;
}

.secondary-button {
    color: rgb(121, 119, 119);
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px rgb(121, 119, 119);
    margin: 6px
}

.secondary-button:hover {
    color: rgb(48, 48, 48);
    border: solid 2px rgb(48, 48, 48);
}

/*------------------- Home -------------------*/
.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0) 100%
    ), url("assets/hero_image.jpg");
    background-size: cover;
}

.overlay nav {
    padding: 10px 10px;
}

.home {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home h1 {
    margin-bottom: 0;
}
.home article {
    text-align: center;
}
.home article p{
    color: white;
    letter-spacing: 1px;
}

.home .home-buttons {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.home .home-buttons button {
    margin-bottom: 25px;
}

.home .home-buttons .transparent-button {
    color: white;
    background: transparent;
}

@media (max-width: 430px) {
    .primary-title {
        font-size: 30px;
    }

    .primary-button {
        font-size: 10px;
    }

    .home article p{
        font-size: 12px;
    }

    .home .home-buttons {
        margin-top: 25vh;
    }
    .home .primary-title {
        font-size: 20px;
        margin-top: 50px;
    }
    .home .home-buttons button {
        margin-bottom: 10px;
    }
}

@media (min-width: 430px) and (max-width: 537px) {
    .primary-title {
        font-size: 25px;
    }
    .primary-button {
        font-size: 15px;
    }
    .home .home-buttons {
        margin-top: 10vh;
    }
    .home .primary-title {
        margin-top: 50px;
    }
}


/*------------------- HomeNav -------------------*/
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 5px;
}

nav .logo-container {
    display: flex;
    align-items: baseline;
}

nav .logo-container .logo {
    width: 32px;
    height: 32px;
}

nav .logo-container h3 {
    text-transform: uppercase;
    color: white;
}

/*------------------- Vertical Nav -----------------*/
.vertical-nav {
    width: 18%;
    /*border: solid 2px;*/
    border-radius: 10px;
    background-color: white;
    position: fixed;
    height: 100%;
    top: 0;
}

.vertical-nav .logo-container h3 {
    color: #5FB51C;
    font-weight: bold;
}

.vertical-nav .nav-text {
    color: #5FB51C;
    font-weight: 400;
}

.vertical-nav ul {
    padding: 0;
}

.vertical-nav li {
    list-style: none;
    height: 75px;
    padding-left: 23px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.vertical-nav li:hover {
    background-color: #dddddd;
    border-radius: 10px;
}

.vertical-nav li span {
    margin-left: 20px;
}

.vertical-nav li .ver-nav-icon {
    width: 30px;
    height: 30px;
    color: #5FB51C;
}

.vertical-nav li .profile-img {
    border-radius: 20px;
}

.vertical-nav .logo-container {
    display: flex;
    align-items: baseline;
    margin-left: 20px;
    margin-top: 20px;
}

.vertical-nav .logo-container .logo {
    width: 32px;
    height: 32px;
}

.vertical-nav .logo-container h3 {
    text-transform: uppercase;
}

@media (max-width: 950px) {
    .vertical-nav .nav-text, .vertical-nav h3 {
        display: none;
    }

    .vertical-nav{
        width: 80px;
    }
}

@media (max-width: 767px) {
    .vertical-nav {
        display: flex;
        position: fixed;
        bottom: 0;
        max-height: 50px;
        width: 100%;
        align-items: baseline;
        justify-content: center;
        top: auto;
    }

    .vertical-nav .logo-container {
        display: none;
    }

    .vertical-nav ul {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .vertical-nav ul li {
        height: 100%;
        padding: 0 0;
        margin: auto;
    }
}

/*------------------- Auth Modal -------------------*/

.auth-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 500px;
    background-color: white;
    border: solid 3px black;
    border-radius: 10px;
    padding: 40px;
}

.auth-modal .close-icon {
    float: right;
}

.auth-modal .close-icon:hover {
    cursor: pointer;
}

.auth-modal form {
    display: flex;
    flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email] {
    padding: 8px;
    margin: 8px;
    font-size: 17px;
    border: solid 2px;
    border-radius: 30px;
}

.auth-modal .auth-match-password-error {
    font-size: large;
    color: red;
}

.auth-modal .auth-message-success {
    font-size: large;
    font-weight: bold;
    color: #3b8a03;
}

.auth-modal .logo-container {
    display: flex;
    align-items: baseline;
}

.auth-modal .logo-container .logo {
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
}

.auth-modal .google-button {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    /*width: 100%;*/
}

.auth-modal .google-button a {
    width: 100%;
}

.auth-modal .google-button-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin: 8px;
    font-size: 17px;
    border: solid 2px;
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

.auth-modal .google-logo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.auth-modal .divider {
    display: flex;
    align-items: center;
}

.auth-modal .divider .line-1 {
    height: 1px;
    width: 40%;
    background-color: #ccc;
    margin: 16px 10px;
}
.auth-modal .divider .line-2 {
    height: 1px;
    width: 40%;
    background-color: #ccc;
    margin: 16px 10px;
}

.auth-modal .divider p {
    text-align: center;
    margin: 16px 0;
    text-transform: uppercase;
}

/*------------------- Profile -------------------*/

/* Profile nav  */
.profile-container {
    display: flex;
    background-color: #F6F6F6;
    width: 100%;
    font-weight: 400;
}

/* Profile Section  */
.profile-container .profile-section-container {
    width: 50%;
    margin-left: 25%;
}

.profile-section-container .profile-section {
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: white;
    display: flex;
}

/* profile-personal-info-section */

.profile-personal-info-section{
    padding-bottom: 20px;
}


.profile-personal-info-section div {
    height: 100%;
    display: flex;
    margin-top: 10px;
    margin-left: 5%;
    width: 80%;
}

.profile-personal-info-section div .image-container {
    display: flex;
    flex-direction: column;
}

.profile-personal-info-section div .image-container button{
    font-size: 10px;
    padding: 3px 3px;
    border: none;
    margin-top: 5px;
    border: solid 1px;
    background: transparent;
}

.profile-personal-info-section div img {
    /*height: 100%;*/
    max-height: 250px;
    max-width: 200px;
    border-radius: 30px;
    border: solid 2px #5FB51C;
}

.profile-personal-info-section div .personal-info{
    margin-left: 10%;
    margin-top: 20px;
    text-align: start;
    width: 60%;
}

.profile-personal-info-section div .personal-info .name-button .username{
    font-weight: bold;
    margin-right: 20px;
    font-size: 1rem;
}
.profile-personal-info-section div .personal-info .name-button{
    display: flex;
}
.profile-personal-info-section div .personal-info .name-button button {
    font-size: 10px;
    padding: 5px 20px;
    border: none;
}

.profile-personal-info-section div .personal-info .about{
    overflow-wrap: break-word;
}


.profile-personal-info-section div .personal-info .profile-sub-info article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-personal-info-section div .personal-info .profile-sub-info article span {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.profile-personal-info-section div .personal-info .profile-sub-info .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.profile-personal-info-section div .personal-info .profile-sub-info .icon:hover {
    background-color: #dddddd;
    border-radius: 10px;
    cursor: pointer;
}

.profile-personal-info-section div .personal-info .profile-sub-info span {
    color: #6C6C6C;
    font-weight: bold;
    margin-right: 30px;
}

/* profile-study-info-section */
.profile-study-info-section{
    /*height: 120px;*/
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 10px;
}

.profile-study-info-section article {
    margin-left: 5%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.profile-study-info-section article .study-info-icon{
    margin-right: 5px;
    width: 25px;
    height: 25px;
}


.profile-study-info-section article .category{
    font-weight: bold;
    color: #5FB51C;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.profile-coffee-study-plan-section{
    height: 500px;
}

@media (max-width: 950px) {
    .profile-container .profile-section-container {
        width: 70%;
        margin-left: 15%;
    }
    .profile-personal-info-section div {
        width: 100%;
        margin-left: 20px;
    }
}

@media (max-width: 767px) {
    .profile-container .profile-section-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .profile-section article{
        margin-left: 5%;
    }

    .profile-personal-info-section div {
        width: 100%;
        margin-left: 20px;
    }

}

@media (max-width: 550px) {

    .profile-section article{
        font-size: 14px;
    }

    .profile-personal-info-section div {
        width: 100%;
        margin-left: 20px;
    }

    .profile-personal-info-section div .about {
        font-size: 14px;
        overflow-wrap: break-word;
    }
    .profile-study-info-section article {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        align-items: start;
    }
}

@media (max-width: 444px) {

    .profile-personal-info-section div .personal-info {
        width: 40%;
    }

    .profile-personal-info-section div img {
        /*height: 100%;*/
        max-height: 150px;
        max-width: 150px;
    }


    .profile-personal-info-section div .personal-info .name-button{
        flex-direction: column;
    }

    .profile-personal-info-section div .personal-info .name-button button{
        margin-top: 8px;
    }

    .profile-personal-info-section div .personal-info .profile-sub-info {
        margin-top: 0;
    }

    .profile-personal-info-section div .personal-info .profile-sub-info article {
        display: flex;
        align-items: start;
        /*justify-content: space-between;*/
    }

    .profile-personal-info-section div .personal-info .profile-sub-info article span {
        /*display: none;*/
        /*display: inline;*/
        margin-right: 20px;
    }

    .profile-personal-info-section div .about {
        /*display: none;*/
        font-size: 14px;
        font-weight: 400;
        margin-top: 20px;
    }

    .profile-personal-info-section div .personal-info .name-button button {
        font-size: 7px;
        padding: 5px 20px;
        border: none;
    }

    .profile-personal-info-section div .personal-info .profile-sub-info article span {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;
        font-size: 10px;
    }

    .profile-personal-info-section div .personal-info{
        margin-left: 10%;
    }
}

/*-------- OnBoarding Page --------*/
.onboarding-container .logo-container h3 {
    color: #5FB51C;
}
.onboarding {
    border-top: solid 1px rgb(213, 213, 213);
}

.onboarding h2, .onboarding label {
    font-weight: bold;
    color: #5FB51C;
}

.onboarding form div{
    display: flex;
    justify-content: center;
}

.onboarding form section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 30%;
    text-align: start;
}

.onboarding form input {
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
}

.onboarding form input:focus {
    outline: none;
    border: solid 2px #5FB51C;
}

.onboarding form label {
    margin: 10px 0;
}

.onboarding form .multiple-input-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.onboarding form .multiple-input-container input {
    margin-right: 10px;
}

.onboarding form .multiple-input-container label {
    padding: 10px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
    cursor: pointer;
}

.onboarding form input[type=radio] {
    display: none;
}

.onboarding form input[type=number] {
    width: 30%;
    padding: 0;
}

.onboarding form input[type=radio]:checked + label {
    border: solid 2px #5FB51C;
    background-color: #5FB51C;
    color: white;
}

.onboarding form input[type=submit]:hover {
    cursor: pointer;
}

.onboarding form input[type=submit] {
    background-color: #6bff00;
    font-size: large;
    width: 40%;
}

.onboarding form .photo-container img {
    max-height: 250px;
    border-radius: 10px;
    border: solid 2px #5FB51C;
}
.onboarding form ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.onboarding form ul li {
    padding: 3px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
    list-style: none;
    font-weight: bold;
    color: #5FB51C;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 14px;
}

.onboarding form ul .selected {
    border: solid 2px #5FB51C;
    background-color: #5FB51C;
    color: white;
}

@media (max-width: 768px) {
    .onboarding form div{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .onboarding form section {
        width: 50%;
    }

    .onboarding form input {
        padding: 10px 25px;
    }

    .onboarding form section {
        width: 80%;
    }

    .onboarding form input[type=submit] {
        width: 90%;
        margin: 5px;
    }

    .onboarding form .loader {
        margin: auto;
    }

    .onboarding form .multiple-input-container label {
        padding: 5px;
        font-size: 14px;
    }

    .onboarding form ul li {
        font-size: 10px;
    }

    .onboarding h2{
        font-size: 20px;
    }

}

/*------------- MyProfile image Crud page -----------*/
.upload-profile-image-container {
    display: flex;
    flex-direction: column;
    border-top: solid 1px rgb(213, 213, 213);
}

.upload-profile-image-container h2 {
    color: #5FB51C;
}

.upload-profile-image-container .image-options {
    margin: 20px auto 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
}

.upload-profile-image-container button {
    /*width: 40%;*/
    margin: auto;
    border: none;
    font-weight: bolder;
}

.upload-profile-image-container .loader {
    /*width: 40%;*/
    margin: auto;
}

.upload-profile-image-container .image-options .image-choose {
    height: 300px;
    width: 200px;
    border: solid 1px;
    border-radius: 20px;
}

.upload-profile-image-container .image-container {
    display: flex;
    flex-direction: column;
}

.upload-profile-image-container .image-options .image-choose:hover {
    cursor: pointer;
    border: solid 2px #5FB51C;
}

.upload-profile-image-container .image-options img {
    max-height: 350px;
    border-radius: 20px;
}

.upload-profile-image-container .image-options .image-choose .user-option {
    margin-top: 120px;
    height: 40px;
    width: 40px;
}

.upload-profile-image-container .image-options .image-choose .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-profile-image-container .image-options .image-choose label {
    cursor: pointer;
}

.upload-profile-image-container .image-options .user-image-container {
    max-height: 400px;
}

.upload-profile-image-container .image-options .user-image-container button {
    font-size: 10px;
    padding: 5px 20px;
    border: solid 2px;
    cursor: pointer;
}

.upload-profile-image-container .image-options .selected {
    display: none;
}

/*----------------------- Plan Card Component ---------------------- */

.plan-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    max-height: 650px;
    margin: auto;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: white;
    color: #5FB51C;
}

.plan-card .image-container {
    width: 100%;
}

.plan-card .image-container img {
    border-radius: 20px;
    border: solid 2px;
}

.plan-card .name-button-section {
    width: 90%;
    display: flex;
    align-items: center;
}

.plan-card .name-button-section p {
    font-weight: 550;
    font-size: medium;
    cursor: pointer;
}

.plan-card .name-button-section .chat-icon {
    margin-left: 60%;
    width: 30px;
    height: 30px;
    color: #5FB51C;
}

.plan-card .name-button-section .chat-icon:hover {
    background-color: #dddddd;
    border-radius: 10px;
    cursor: pointer;
}

.plan-card .plan-info-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 0;
}

.plan-card .plan-info-section li {
    list-style: none;
    display: flex;
    margin-bottom: 20px;
}

.plan-card .plan-info-section li span{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.plan-card .plan-info-section li .text {
    color: black;
}

.plan-card .plan-info-section li span .icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/*--------------- plan crud page ---------------------*/
.plan-crud-container .plan-card {
    margin-top: 30px;
}

.plan-crud-container h2 {
    font-weight: bold;
    color: #5FB51C;
    text-transform: uppercase;
    margin-top: 30px;
}

.plan-crud-container button {
    border: none;
    margin-top: 20px;
    width: 350px;
    font-weight: 500;
}

.plan-crud-container .error-msg {
    color: #ee0256;
}

.plan-crud-container .plan-card input {
    padding: 5px 5px;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 20px;
}
.plan-crud-container .plan-card input:focus {
    outline: none;
    border: solid 2px #5FB51C;
}


@media (max-width: 320px) {
    .plan-crud-container h2 {
        font-size: 16px;
    }
    .plan-crud-container .plan-card {
        width: 100%;
    }
    .plan-crud-container .plan-card .image-container {
        width: 100%;
    }
    .plan-crud-container .plan-card .image-container img {
        width: 100%;
    }
}

@media (min-width: 321px) and (max-width: 767px){
    .plan-crud-container h2 {
        font-size: 20px;
        margin: 10px auto 5px;
    }
    .plan-crud-container .plan-card {
        width: 80%;
        height: 500px;
        margin-top: 0;
    }
    .plan-crud-container .plan-card .image-container {
        height: 40%;
        width: 100%;
    }
    .plan-crud-container .plan-card .image-container img {
        height: 100%;
    }
}


